#compiled python files
*.pyc
*.pyo

#temporary editor files
*~

#pylint report
pylint.txt

#coverage report
.coverage
coverage.xml

#geany editor project file
PyAChemKit.geany

#specific to PyAChemKit

#PyPi distribution
AChemKit.pdf #this is just a copy for distribution
MANIFEST
dist/


#documentation build directorys
doc/latex/
#doc/html/ #dont ignore this so it can be put on the git website in branch gh-pages
!doc/latex/AChemKit.pdf


#autobuild doc sources
doc/src/AChemKit*.rst

#sphinx internal caching
doc/html/.doctrees/
doc/html/.buildinfo
